
*{
   text-decoration:none;
   font-family: 'Roboto', sans-serif;
  
  }


/*--Les Mixin--*/
@import "./mixins.scss";
@import "./animation";

  body{
    margin: 0px;
  }
  /*--loader--*/
  
.boxloader{
    background-color:white;
    width: 100vw;
    height: 100vh;
    position:fixed;
    z-index: 6;
    @include flexMid;
    opacity: 90%;
    animation: enso  ;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    -webkit-animation: enso;
    -webkit-animation-duration: 3S;
    -webkit-animation-fill-mode: forwards;
  
    .loader{
        @include flexMid;
        margin: auto;
        margin-top: 100px;
        margin-bottom: 100px;
        border:16px solid #bdc3c7;
        width: 150px;
        height: 150px;
        border-top-color: #9356DC;
        border-bottom-color: #FF79DA;
        border-radius: 50%;
        animation: chargeur 2S linear infinite;
        
       
        
        img{
            width: 100px;
            height: 100px;
        } 
    }
}


/*--Header--*/
h1{
    font-size: 24px;
    margin-left: 20px;
   }

.logo {
        @include flexMid;
        background-color:white;
        box-shadow: 0 0 8px rgba(0,0,0,.25);
        position: relative;
        z-index: 1;
        
        img{
           width:162px;
           height: 30px;
           padding: 14px 89px
        }
}
.localisation {
    @include flexMid;
    height: 50px;
    background-color: #EAEAEA;
    
}
.icnLocali{
    margin-right: 17px;
}

.info {
    display: grid;
    justify-content: center;
    align-items: center;
    background-color: #F6F6F6;

    .d-title{
        @include flexMid;
        @include title;
        height: 68px;
        text-align: center;
        padding: 44px 44px 6px;
      }
    .d-para{
        @include flexMid;
        height: 46px;
        text-align: center;
        font-size: 18px;
      }
    
}

/*--boutons--*/
.bouton{
    @include flexMid;
    :hover{
        /*border-radius: 25px;*/
        background: linear-gradient(0deg, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0.15) 100%), linear-gradient(201deg, #9356DC -5.2%, #FF79DA 110.74%);
        box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.35);
    } 
}
.btn-explo{
    @include flexMid;
    @include btn-exp;
    width: 218px;
    height: 50px;
    margin: 25px 25px 55px;
    color: white;    
}

/*--fonctionnement--*/
.allFonctionnement{
    padding: 40px 0px;
    .foncTitre{
        display: flex;
        justify-content: center;
        margin-right: 177px;
    }
} 
.allsectionBtn{
    position: relative
}
.sectionBtn{
    @include flexMid;
    margin-bottom: 20px;
    
}
.ellips{
    @include flexMid;
    @include ellipse;
    width: 24px;
    height: 24px;
 }
 .btn-fonct{
    @include flexMid;
    @include btn-fonc;
    Width: 322px;    
    Height: 72px
}
.btn-fonctR{
    width: 70%;
    margin-left: 20px;
    h3{
     font-size: 16px;
     font-weight: 500;
    }
   }
.btn-fonctL{
    i{
        color: #7E7E7E;
    }
}
.btn-fonctLD{
    color: #9356DC
}

/*--restaurants--*/
.restaurants{
    background-color:#F6F6F6;
    padding: 45px 0px; 
    .restTitre{
        display: flex;
        justify-content: center;
        margin-right: 220px;
    }
 }
.sectionBtnResto{
    @include flexMid;
    margin-bottom: 20px;
    .link{
    
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 0;
    background-color: transparent;
    top: 0;
    left: 0;
    z-index: 1;
    }
}
.cards-resto{
    width: 340px;
    height: 251px;
    border-radius: 20px;
    background-color: white;
    position: relative;
    img{
        width: 340px;
        height: 170px;
        object-fit: cover;
        border-radius: 20px 20px 0px 0px;
     }
 }
 .new{
    @include badge;
    @include flexMid;
    width: 80px;
    height: 29px;
    top: 22px;
    left: 248px;
   
 }
.new2{
    @include badge;
    @include flexMid;
    width: 80px;
    height: 29px;
    top: 22px;
    left: 248px;
 }

.d-card{
    @include flexMid;
    .dLeft{
        width: 80%;
        h2{
            font-size: 18px;
            font-weight: 700;
            margin: 15px 0px 4px;
            color: #000000;
        }
        p{
            margin: 0px;
            color: #000000;
            font-weight: 300;
            font-size: 17px;
    
        }
    } 
 }
 /*--Heart1--*/
.heart-btn{
  z-index: 5;
  .container-like {

    .like {
        display: block;
        cursor: pointer;
        width: 22px;
        height: 21px;
        background-image: url("../assets/images/heart/like.png");
        background-size: contain;
        background-repeat: no-repeat;
    }
    input {
        display: none;
    }
    input:checked ~ .like {
        background-image: url("../assets/images/heart/liked.png");
        animation: opacityFade 2s;
    }
  }
 }

  @keyframes opacityFade {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }


 
 /*-- footer--*/

 .sectionftr{
    background-color: #353535;
    padding: 22px 25px;
    .footerLogo{
        img{
            width: 139px;
            height: 27px;
            margin-bottom: 16px;
         }
        }
    .footerlink1{
       display: flex;
       i{
        color:white;
        margin-right:11px ;
       }
       a{
        color: white;
    }

    }    
    .footerlink2{
        display: flex;
        i{
            color:white;
            margin-right:11px ;
            width: 14px;
            height: 13px;
        }
        a{
            color: white;
        }
    }    
 }
 .footerlink3{
    a{
        color: white;
    }
 }
   
  /* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1183px)*/
@media (min-width: 600px) {
    .d-title{
        padding: 0px;
        h1{
            margin-left: 0px;
            font-size: 40px;
        }
    }
    .cards-resto{
        width: 490px;
        img{
            width: 489px;
        }
        .new{
            left: 392px;
        }
        .new2{
            left: 392px;
        }

    }
    .restaurants{
        background-color:#F6F6F6;
        padding: 45px 0px; 
        .restTitre{
            display: flex;
            justify-content: center;
            margin-right: 370px;
        }
    }
    .allFonctionnement{
        padding: 40px 0px;
        .foncTitre{
            display: flex;
            justify-content: center;
            margin-right: 333px;
        }
    } 
  
    .ellips{
        margin-right: 490px;
    }
    .btn-fonct{
        width: 490px;
        .btn-fonctR{
            width: 40%;
        }
    }
    .heart{
        left: 430px;
    }
    .heartColore{
        left: 430px;
    }
    .heart1{
        left: 430px;
    }
    .heartColore1{
        left: 430px;
    }
    .heart2{
        left: 430px;
    }
    .heartColore2{
        left: 430px;
    }
    .heart3{
        left: 430px;
    }
    .heartColore3{
        left: 430px;
    }

}

/* Medium devices (tablets, less/equal than 1183px)*/
@media (min-width: 1400px) {

    .boxloader{
        .loader{
            margin-top: -500px;
            margin-bottom: -500px;
        }
    }

    .d-title{
        padding: 0px;
        h1{
            margin-left: 0px;
            font-size: 40px;
        }
    }
    .allFonctionnement{
        padding: 50px 180px;
        .foncTitre{
            display: flex;
            justify-content: center;
            margin-right: 910px;
            h1{
                margin-left: 0px;
                
            }
        }
        .allsectionBtn{
            display:flex;
            justify-content: center;
            padding: 0px 10px; 
            .sectionBtn{
                margin-right: 35px;
            }
        }
    }
  
    
    .allBtnCardUp{
       display: flex;
       align-items: flex-start;
       gap: 100px;
       align-self: stretch;
       justify-content: center;

    }
    .allBtnCardDown{
        justify-content:center;
       display: flex;
       align-items: flex-start;
       gap: 100px;
       align-self: stretch;
       

    }
    .bloque{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 50px;
        align-self: stretch;
    }
    .cards-resto{
        width: 490px;
        img{
            width: 489px;
        }
        .new{
            left: 392px;
        }
        .new2{
            left: 392px;
        }

    }
    .footerLogo{
        display: flex;
        justify-content: end;
        align-items: flex-end;
        padding-top: 19px;
        margin-left: 70px;
    }
    .restaurants{
        padding: 25px 180px;
        display: flex;
        flex-direction: column;
        .restTitre{
            display: flex;
            justify-content: center;
            margin-right: 951px;
        }
    }
    
    h1{
        margin-left: 0px;
    }
    .sectionftr{
        display: flex;
        flex-direction: row-reverse;
    }
    .allFooterLink{
        display: flex;
        gap:20px;
        padding-top: 22px;
    }
    .footerlink3{
        display: flex;
        gap:6px;
    }
    
    .ellips{
        margin-right: 320px;
    }
    .btn-fonct{
        width: 322px;
        .btn-fonctR{
            width: 70%;
        }
    }
    .svgHeartColor{
        left: 430px;
    }
    .heart{
        left: 440px;
    }
    .heartColore{
        left: 440px;
    }
    .heart1{
        left: 440px;
    }
    .heartColore1{
        left: 440px;
    }
    .heart2{
        left: 440px;
    }
    .heartColore2{
        left: 440px;
    }
    .heart3{
        left: 440px;
    }
    .heartColore3{
        left: 440px;
    }
}