@charset "UTF-8";
* {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
}

/*--Les Mixin--*/
/*--Les Mixin--*/
/*--Les Mixin--*/
@keyframes enso {
  0% {
    opacity: 0, 5;
  }
  70% {
    opacity: 0, 3;
  }
  90% {
    opacity: 0, 3;
  }
  100% {
    opacity: 0, 2;
    display: none;
  }
}
@keyframes chargeur {
  0% {
    transform: rotate(0deg) scale(1);
  }
  50% {
    transform: rotate(360deg) scale(1.2);
  }
  100% {
    transform: rotate(720deg) scale(1);
  }
}
@keyframes coulissement {
  from {
    width: 300px;
  }
  to {
    width: 220px;
  }
}
@keyframes slide {
  from {
    left: 262px;
  }
  to {
    left: 222px;
  }
}
body {
  margin: 0px;
}

/*--loader--*/
.boxloader {
  background-color: white;
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 90%;
  animation: enso 3s forwards;
}
.boxloader .loader {
  opacity: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 100px;
  margin-bottom: 100px;
  border: 16px solid #bdc3c7;
  width: 150px;
  height: 150px;
  border-top-color: #9356DC;
  border-bottom-color: #FF79DA;
  border-radius: 50%;
  animation: chargeur 2S linear infinite;
}
.boxloader .loader img {
  width: 100px;
  height: 100px;
}

/*--Header--*/
h1 {
  font-size: 24px;
  margin-left: 20px;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.25);
  position: relative;
  z-index: 1;
}
.logo img {
  width: 162px;
  height: 30px;
  padding: 14px 89px;
}

.localisation {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  background-color: #EAEAEA;
}

.icnLocali {
  margin-right: 17px;
}

.info {
  display: grid;
  justify-content: center;
  align-items: center;
  background-color: #F6F6F6;
}
.info .d-title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  height: 68px;
  text-align: center;
  padding: 44px 44px 6px;
}
.info .d-para {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 46px;
  text-align: center;
  font-size: 18px;
}

/*--boutons--*/
.bouton {
  display: flex;
  justify-content: center;
  align-items: center;
}
.bouton :hover {
  /*border-radius: 25px;*/
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0.15) 100%), linear-gradient(201deg, #9356DC -5.2%, #FF79DA 110.74%);
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.35);
}

.btn-explo {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  background: linear-gradient(193deg, #9356DC -11.44%, #FF79DA 123.93%);
  color: white;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  width: 218px;
  height: 50px;
  margin: 25px 25px 55px;
  color: white;
}

/*--fonctionnement--*/
.allFonctionnement {
  padding: 40px 0px;
}
.allFonctionnement .foncTitre {
  display: flex;
  justify-content: center;
  margin-right: 177px;
}

.allsectionBtn {
  position: relative;
}

.sectionBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.ellips {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  background-color: #9356DC;
  color: white;
  text-align: center;
  position: absolute;
  margin-right: 320px;
  width: 24px;
  height: 24px;
}

.btn-fonct {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  background-color: #F6F6F6;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  Width: 322px;
  Height: 72px;
}

.btn-fonctR {
  width: 70%;
  margin-left: 20px;
}
.btn-fonctR h3 {
  font-size: 16px;
  font-weight: 500;
}

.btn-fonctL i {
  color: #7E7E7E;
}

.btn-fonctLD {
  color: #9356DC;
}

/*--restaurants--*/
.restaurants {
  background-color: #F6F6F6;
  padding: 45px 0px;
}
.restaurants .restTitre {
  display: flex;
  justify-content: center;
  margin-right: 220px;
}

.sectionBtnResto {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.cards-resto {
  width: 340px;
  height: 251px;
  border-radius: 20px;
  background-color: white;
  position: relative;
}
.cards-resto img {
  width: 340px;
  height: 170px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px 20px 0px 0px;
}

.new {
  position: absolute;
  background-color: aquamarine;
  color: #1b6150;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 29px;
  top: 22px;
  left: 248px;
}

.new2 {
  position: absolute;
  background-color: aquamarine;
  color: #1b6150;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 29px;
  top: 22px;
  left: 248px;
}

.d-card {
  display: flex;
  justify-content: center;
  align-items: center;
}
.d-card .dLeft {
  width: 80%;
}
.d-card .dLeft h2 {
  font-size: 18px;
  font-weight: 700;
  margin: 15px 0px 4px;
  color: #000000;
}
.d-card .dLeft p {
  margin: 0px;
  color: #000000;
  font-weight: 300;
  font-size: 17px;
}

/*--Heart1--*/
label .like {
  display: block;
  cursor: pointer;
  width: 22px;
  height: 21px;
  background-image: url("/assets/images/heart/Status=Default.jpg");
  background-size: contain;
  background-repeat: no-repeat;
}
label input {
  display: none;
}
label input:checked ~ .like {
  background-image: url("/assets/images/heart/Status=Liked.jpg");
  animation: opacityFade 2s;
}

@keyframes opacityFade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/*-- footer--*/
.sectionftr {
  background-color: #353535;
  padding: 22px 25px;
}
.sectionftr .footerLogo img {
  width: 139px;
  height: 27px;
  margin-bottom: 16px;
}
.sectionftr .footerlink1 {
  display: flex;
}
.sectionftr .footerlink1 i {
  color: white;
  margin-right: 11px;
}
.sectionftr .footerlink1 a {
  color: white;
}
.sectionftr .footerlink2 {
  display: flex;
}
.sectionftr .footerlink2 i {
  color: white;
  margin-right: 11px;
  width: 14px;
  height: 13px;
}
.sectionftr .footerlink2 a {
  color: white;
}

.footerlink3 a {
  color: white;
}

/* Le code ci-dessous correspond à la version responsive uniquement */
/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1183px)*/
@media (min-width: 600px) {
  .d-title {
    padding: 0px;
  }
  .d-title h1 {
    margin-left: 0px;
    font-size: 40px;
  }
  .cards-resto {
    width: 490px;
  }
  .cards-resto img {
    width: 489px;
  }
  .cards-resto .new {
    left: 392px;
  }
  .cards-resto .new2 {
    left: 392px;
  }
  .restaurants {
    background-color: #F6F6F6;
    padding: 45px 0px;
  }
  .restaurants .restTitre {
    display: flex;
    justify-content: center;
    margin-right: 370px;
  }
  .allFonctionnement {
    padding: 40px 0px;
  }
  .allFonctionnement .foncTitre {
    display: flex;
    justify-content: center;
    margin-right: 333px;
  }
  .ellips {
    margin-right: 490px;
  }
  .btn-fonct {
    width: 490px;
  }
  .btn-fonct .btn-fonctR {
    width: 40%;
  }
  .heart {
    left: 430px;
  }
  .heartColore {
    left: 430px;
  }
  .heart1 {
    left: 430px;
  }
  .heartColore1 {
    left: 430px;
  }
  .heart2 {
    left: 430px;
  }
  .heartColore2 {
    left: 430px;
  }
  .heart3 {
    left: 430px;
  }
  .heartColore3 {
    left: 430px;
  }
}
/* Medium devices (tablets, less/equal than 1183px)*/
@media (min-width: 1400px) {
  .boxloader .loader {
    margin-top: -500px;
    margin-bottom: -500px;
  }
  .d-title {
    padding: 0px;
  }
  .d-title h1 {
    margin-left: 0px;
    font-size: 40px;
  }
  .allFonctionnement {
    padding: 50px 180px;
  }
  .allFonctionnement .foncTitre {
    display: flex;
    justify-content: center;
    margin-right: 910px;
  }
  .allFonctionnement .foncTitre h1 {
    margin-left: 0px;
  }
  .allFonctionnement .allsectionBtn {
    display: flex;
    justify-content: center;
    padding: 0px 10px;
  }
  .allFonctionnement .allsectionBtn .sectionBtn {
    margin-right: 35px;
  }
  .allBtnCardUp {
    display: flex;
    align-items: flex-start;
    gap: 100px;
    align-self: stretch;
    justify-content: center;
  }
  .allBtnCardDown {
    justify-content: center;
    display: flex;
    align-items: flex-start;
    gap: 100px;
    align-self: stretch;
  }
  .bloque {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    align-self: stretch;
  }
  .cards-resto {
    width: 490px;
  }
  .cards-resto img {
    width: 489px;
  }
  .cards-resto .new {
    left: 392px;
  }
  .cards-resto .new2 {
    left: 392px;
  }
  .footerLogo {
    display: flex;
    justify-content: end;
    align-items: flex-end;
    padding-top: 19px;
    margin-left: 70px;
  }
  .restaurants {
    padding: 45px 180px;
    display: flex;
    flex-direction: column;
  }
  .restaurants .restTitre {
    display: flex;
    justify-content: center;
    margin-right: 951px;
  }
  h1 {
    margin-left: 0px;
  }
  .sectionftr {
    display: flex;
    flex-direction: row-reverse;
  }
  .allFooterLink {
    display: flex;
    gap: 20px;
    padding-top: 22px;
  }
  .footerlink3 {
    display: flex;
    gap: 6px;
  }
  .ellips {
    margin-right: 320px;
  }
  .btn-fonct {
    width: 322px;
  }
  .btn-fonct .btn-fonctR {
    width: 70%;
  }
  .svgHeartColor {
    left: 430px;
  }
  .heart {
    left: 440px;
  }
  .heartColore {
    left: 440px;
  }
  .heart1 {
    left: 440px;
  }
  .heartColore1 {
    left: 440px;
  }
  .heart2 {
    left: 440px;
  }
  .heartColore2 {
    left: 440px;
  }
  .heart3 {
    left: 440px;
  }
  .heartColore3 {
    left: 440px;
  }
}/*# sourceMappingURL=style.css.map */