*{
    text-decoration:none;
    font-family: 'Roboto',sans-serif ;
   
   }
   @import url('https://fonts.googleapis.com/css2?family=Arizonia&family=Shrikhand&display=swap');

   /*--Les Mixin--*/

   @import "./mixins.scss";
 
   body{
    margin: 0px;

    height: 1275px;
  }
  
  h2{
    font-size: 18px;
    font-weight: 600
  }
  main{
    height: 1448px;
  }
  header{
    display: flex;
    justify-content: center;
  }

  .toppage{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    a{
      display: flex;
      position: absolute;
      left: 20px;
        i{
            color:black;
            /*margin: 0px 67px 0px 17px;*/
        }
    }
  }
    .logo{
        @include flexMid;
        text-align: center;
        padding: 0px 80px;
        width: 90%;
        img{
            width: 162px;
            height: 30px;
            padding: 14px 16px;
        }
  }
  
  .image-principal{
    img{
        width: 100%;
        height: 275px;
        object-fit: cover;
    }    
  }  
  
  .all-menu{
    background-color: #F6F6F6;
    border-radius: 40px 40px 0px 0px;
    position:relative;
    top:-80px;
    padding: 10px;
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items:center;
   
    .menu{
        @include flexMid;
        .menu-titre{
            
            font-size: 21px;
            margin-right: 60px;
            h1{
              @include fontshrik;
              font-size: 28px;
              font-weight: 400;

            }
        }
      }
  }
  .heart{
    @include heart;
    color: #000000;
    left: 329px;
    bottom: 1178px;
 }
 .heartColore{
  @include heart;
  @include heartcolor;
  
  left: 329px;
  bottom: 1178px;
  
  
  transition: opacity 1s ease-out;
  
}

input[type="checkbox"]{
  
  
  display: none;
  pointer-events: none;

  & + label{
      cursor: pointer;

      .heartColore{
          opacity: 0%;
      }
  }
  &:checked + label{
      .heartColore{
          opacity: 100%;
      }
  }
}
label{
  width: 50px;
  height: 50px;
}

  .menu-sous-titre{
    
    border-bottom: solid 3px rgba(153, 226, 208, 1);
    width: 40px;
    h2{
        font-size: 16px;
        font-weight: 300;
        text-transform: uppercase;
        margin-bottom: 5px;
    }
    
  }
  .menu-cards{
    margin-bottom: 40px;
  
    .card-solo{
        width: 319px;
        height: 42px;
        align-items: center;
        background-color: #FFF;
        border-radius: 15px;
        display: flex;
        justify-content: space-between;
        margin: 15px 0px;
        padding: 15px;
        box-shadow: 0px 4px 15px 0px rgba($color: #000000, $alpha: 15%);
        position: relative;
        overflow: hidden;
        
        &:hover .secleft{
        animation: coulissement 330ms forwards;
      } 
     
       &:hover .valide {
          transform:translate(-100%,0); 
       }
       &:hover .prix {
         transform:translate(-80%,0);
      }
    }
  }
 
@keyframes coulissement {
  from {
    width: 300px;
  } to {
    width: 220px;
  }
}

@keyframes slide {
  from {
    left: 262px;
  } to {
    left: 222px;
  }
}
  .secleft{
    height: 43px;
    width: 300px;
    margin: 0px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    transform: scaleX(0) 330ms ease-in-out;
    .focus{
      animation: coulissement 330ms ease-in-out ;
  }
    h2{
         margin: 0px 0px 5px;
         @include rona;
         font-size: 18px;
         white-space: nowrap;
         text-overflow: ellipsis;
         overflow: hidden;
         font-weight: 500 ;
    }
    p{
      margin:0px;
      font-size: 14px;
      font-weight: 300;
      @include rona;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
  }
  .prix{
    color: black;
    display: flex;
    justify-content: end;
    width: 72px;
    height: 72px;
    align-items: self-end;
    position: absolute;
    left:262px ;
    font-weight: 700;
    transition: transform 330ms ease-in-out;
  }

  .valide{
    width: 59px;
    height: 72px;
    background: #99E2D0;
    color: white;
    border-radius: 0px 15px 15px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 349px;
    transition: transform 330ms ease-in-out;
  }
  
  .btn-con{
    @include flexMid;
    :hover{
        border-radius: 25px;
        background: linear-gradient(0deg, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0.15) 100%), linear-gradient(201deg, #9356DC -5.2%, #FF79DA 110.74%);
        box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.35);
       }  
  }

  .btn{
    @include flexMid;
    color: white;
    margin: 40px 0px;
    width: 186px;
    height: 50px;
    border-radius: 25px;
    background: linear-gradient(193deg, #9356DC -11.44%, #FF79DA 123.93%);
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
    cursor: pointer;
      
  }
  .all{
    height: 1275px;
  }

 /*-- footer--*/

 .sectionftr{
    background-color: #353535;
    padding: 22px 25px;
    .footerLogo{
        img{
            width: 139px;
            height: 27px;
            margin-bottom: 16px;
         }
        }
    .footerlink1{
       display: flex;
       margin-bottom: 5px;
       i{
        color:white;
        margin-right:11px ;
       }
       a{
        color: white;
    }

    }    
    .footerlink2{
        display: flex;
        margin-bottom: 5px;
        i{
            color:white;
            margin-right:11px ;
            width: 14px;
            height: 13px;
        }
        a{
            color: white;
        }
    }    
 }
 .footerlink3{
    a{
        margin-bottom: 5px;
        color: white;
    }
 }
   
 /* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/

/* Medium devices (tablets, less/equal than 600px)*/
@media (min-width: 600px) {

  .toppage{
    a{
      left: 50px;
    }
  }

  .logo{
    width: 90%;
  }
    
  .menu-cards{
    margin-bottom: 40px;
    .card-solo{
      width: 605px;
      .valide{
        left: 635px;
      }
      .prix{
        left: 546px;
      }
    }
  }

  h1{
    margin-left: 0px;
    font-family: "shrikhand";
  }
  .footerLogo{
      display: flex;
      justify-content: end;
      align-items: flex-end;
      padding-top: 19px;
      margin-left: 70px;
  }
  
  .sectionftr{
    display: flex;
    flex-direction: row-reverse;
  }

  .allFooterLink{
    display: flex;
    gap:20px;
    padding-top: 22px;
  }
  .footerlink3{
    display: flex;
    gap:6px;
  }
  .all-menu{
    max-width: 1055px;
    margin: auto;
  }

  @keyframes coulissement {
    from {
      width: 300px;
    } to {
      width: 290px;
    }
  }
  
  
  @keyframes slide {
    from {
      left: 262px;
    } to {
      left: 222px;
    }
  }


}
/* Medium devices (tablets, less/equal than 1183px)*/
@media (min-width: 1400px) {
  @mixin heart{
    font-size: 30px;
    position: absolute;
   
    transform: translate(-50%);
    left: 673px;
    bottom: 1181px;
  }

.heart{
  @include heart2;
}
.heartColore{
  @include heart2;
  

}
}